# Node dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-cache/
metro-cache/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Debugging
debug.log

# Coverage directory
coverage/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android
build/
.idea
.gradle
local.properties
*.iml
*.hprof
*.ap_
*.aab

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Custom
.DS_Store 